html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #bdc3c7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
    background-color: #273c75;
    min-height: auto;
    overflow: visible;
    height: auto;
}

aside figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    box-shadow: 3px 5px 5px #3498db;
}

aside h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

aside p {
    text-align: justify;
    text-indent: 1.5rem;
    line-height: 1.375rem;
    padding-bottom: 0.7rem;
    color: #ffffff;
    font-size: 1rem;
}

aside nav ul {
    text-align: center;
}

nav ul li {
    padding: 0.6rem 5rem;
}

nav ul li:hover,
nav ul .active {
    background-color: #2ecc71;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
}

nav ul li:hover a,
nav ul .active a {
    color: #ffffff;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #f39c12;
}

li a:hover {
    font-weight: bold;
}

li a:active {
    color: #088C19;
}

/* main */

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    min-height: 35rem;
    height: 95vh;
}

main h2 {
    font-size: 1.5rem;
    width: auto;
    font-weight: bold;
    padding: 2rem 2rem 0.5rem 2rem;
    color: #273c75;
    text-align: center;
}

main h2::after {
    content: '';
    display: block;
    background-color: #f39c12;
    border-radius: 10px;
    margin-top: 0.15rem;
    width: 100%;
    height: 16%;
}

.alert {
    padding: 1em 2.2em 1em 2.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem
}

.alert p {
    text-align: left;
    line-height: 1.1rem;
    /* font-size: 0.85rem; */
}

.alert strong {
    color: red;
    font-weight: bold;
    font-size: 1em;
}

main .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.1rem;
    padding: 2rem 2rem 2rem 3rem;
    width: 93%;
}

main .content .lists {
    background-color: #ffffff;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left-list {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 5px 5px #3498db;
}

.rigth-list {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 5px 5px #3498db;
}

.lists h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
}

.lists .lists-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 75%;
    margin-top: 3rem;
}

.lists-title .to-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
}

.to-add input {
    height: 2rem;
    border-radius: 5px;
    padding-left: 0.5rem;
    background-color: #bdc3c7;
    color: #2c3e50;
    border: none;
}

.button-add {
    border-radius: 5px;
    height: 2rem;
}

.button-add:hover {
    background-color: #2ecc71;
    height: 2.5rem;
}

.lists .box {
    width: 70%;
    font-size: 16px;
}

.lists ol {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 3rem;
}

.lists ol li {
    list-style-type: decimal;
    text-align: left;
}

.lists ol li a {
    text-align: end;
}

.credits {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    font-size: small;
    padding: 2rem 0.2rem 1.5rem 0.2rem;
}

.credits a {
    color: #273c75;
    font-weight: bold;
}

.copy {
    padding: 0 3em;
    text-align: center;
}

.credits a:hover {
    color: #2ecc70;
    font-weight: bold;
}

@media screen and (max-width: 410px) {

    .button-add {
        width: inherit;
    }

    aside h1 {
        font-size: 1.5rem;
    }

    aside p {
        line-height: 1.2rem;
        padding: 0 1em 1em 1em;
        font-size: 0.8rem;
    }

    aside a,
    .alert p {
        font-size: 0.8rem; 
    }

    h2 {
        font-size: 1rem;
    }
    aside nav ul li {
        width: -webkit-fill-available !important;
    }
   

}

@media screen and (max-width: 1000px) {

    body,
    aside,
    main .content,
    .lists .lists-title {
        flex-direction: column;
    }

    body,
    main,
    aside {
        width: 100%;
    }

    aside {
        padding: 0 0 1em 0;
        margin-bottom: auto;
    }

    figure {
        width: 85%;
        margin: auto;
        margin-top: 1.5rem;
    }

    figure img {
        transform: scale(0.9);
    }

    main .content .lists {
        width: 85%;
    }

    main .content .left-list {
        border-radius: 10px 10px 0 0;
    }

    main .content .rigth-list {
        border-radius: 0 0 10px 10px;
    }

    aside nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 0.5em;
        flex-wrap: wrap;
        padding: 0 3em 0 3em;
    }

    aside nav ul li {
        padding: 1rem 3rem;
        width: max-content;
    }

    main .content {
        padding: 0;
    }

    .lists .lists-title {
        gap: 1rem;
    }

    .lists-title .to-add {
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
        width: -webkit-fill-available;
        padding: 0.3em;
    }

    form input {
        width: -webkit-fill-available;
        flex: 2;
    }
}